<div class="container">
  <h1>Конвертер SVG в PDF</h1>
  
  <%= form_with model: @document, url: "document/create", local: true, html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :svg_file, "Выберите SVG файл" %>
      <%= f.file_field :svg_file, accept: '.svg', required: true, class: "form-control" %>
    </div>
    
    <%= f.submit "Конвертировать", class: "btn btn-primary", data: { turbo: false} %>
  <% end %>
</div>